* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}
span{
  margin-right: 30px;
}
h1{
  display: inline;
  margin-right: 30%;
}
header{
  max-width: 100%;
  background-color: rgb(51, 157, 157);
}
body{
  background-color: rgb(215, 225, 225);
}
img{
  width: 60%;
  border-radius: 70%;
}
.card{
  border: 1px solid rgb(149, 134, 134);
  border-radius: 10px;
  text-align: center;
  width: 200px;
  display: inline-block;
  box-shadow: 5px 5px 5px;
}
#ma{
  margin-top: 50px;
}
